@{
    ViewData["Title"] = "Home Page";
}

@model webapp.Models.CustomerViewModel

<div class="center" style="width:265px; text-align:center;">
    <h1>Add Customer</h1>
</div>

@await Html.PartialAsync("_Customer.cshtml", Model)